#app {
  //min-height: 300px;
}

.header {
  width: 100%;
  background: lavender;
  height: 80px;
}

.main {
  min-height: 300px;
  width: 100%;
  display: table;
}

.aside {
  width: 100px;
  background: tan;
  display: table-cell;
  height: 100%;
}
.content {
  background: teal;
  display: table-cell;
  width: calc(100% - 100px);
}