#app {
}

.carousel, .carousel3d {
  width: 320px;
  height: 200px;
  margin: 30px auto;
}

.carousel-item, .carousel3d-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  &:nth-child(1n) {
    background: #c7d6e6;
  }
  &:nth-child(2n) {
    background: #99a9bf;
  }
}

