@import "../vars";
@import "../../mixin";
@import "../../nicescroll";

.side-nav {
  &__list {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
  }
  &__item-group {
    padding: .5rem .5rem .5rem .5rem;
    color: #7f8c8d;
    opacity: .6;
    font-size: .8rem;
    cursor: not-allowed;
  }
  &__item {
    padding: .5rem 1rem;
  }
  &__link {
    color: #7f8c8d;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &--active {
      color: #42b983;
    }
  }
}