@import "../reset";
@import "../mixin";


.typing {
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes caret {
    50% {
      border-color: inherit;
    }
  }
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: Consolas, Monaco, monospace;
  animation: typing backwards,
             caret infinite;

  border-right: 0.1em solid transparent;
}

body {
  padding: 1em;
  line-height: 1.4;
}

@include for-phone-only {

}