@import "../reset";
@import "../mixin";
p {
  font-size: 15px;
  text-indent: 2em;
  line-height: 1.6em;
  padding: 1em 4em;
  //word-break: break-all;
  text-align: justify;
  white-space: normal;
  a {
    color: #42b983;
  }
}

@include for-phone-only {
  p {
    padding: 1em;
  }
}