body {
  font-family: Helvetica, Arial, "Microsoft YaHei", STXihei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

ul {
  list-style: none;
}

iframe {
  border: none;
}