@import "reset";
@import "mixin";
@import "nicescroll";

@import "./index/vars";

.app-container {

  height: 100vh;
  width: 100vw;
  display: flex;

  &__aside {
    width: $asideWidth;
    transition: width $asideTransitionDuration, transform $asideTransitionDuration;
    overflow: hidden;
    &--hide-on-desktop {
      width: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }

  &__main {
    flex: 1;
  }
}

@include for-phone-only {

  @import "./index/vars.mobile";

  .app-container {
    min-height: 520px;
    position: relative;

    &__aside {

      $asideWidth: 70vw;

      /* reset --hide-on-desktop */
      width: $asideWidth;
      transition: transform $asideTransitionDuration,
      width .2s;
      /**/

      position: absolute;
      z-index: 100;
      height: 100%;
      transform: translate3d(-100%, 0, 0);
      &--show-on-mobile {
        transform: translate3d(0, 0, 0);
        border-right: (100vw - $asideWidth) solid transparent;  //扩大鼠标点击区域
        background-clip: content-box;
      }
      &--with-search-panel {
        width: 100%;
        border-right: 0;
      }
    }
  }
}
